# ===== VS Code =====
.vscode/

# ===== Build files =====
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.ilk
*.pdb
*.vcxproj*
*x64/*
# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ===== Debug / temp =====
*.log
*.tmp

# ===== OS files =====
.DS_Store
Thumbs.db